<mat-card>
  <mat-form-field>
    <input
      id="title"
      name="title"
      type="text"
      placeholder="Book title"
      [(ngModel)]="book.title"
      matInput
    />
  </mat-form-field>
  <mat-form-field>
    <input
      id="author"
      name="author"
      type="text"
      placeholder="Author"
      [(ngModel)]="book.author"
      matInput
    />
  </mat-form-field>
  <mat-form-field>
    <input
      id="pages"
      name="pages"
      type="text"
      placeholder="Pages number"
      [(ngModel)]="book.pages"
      matInput
    />
  </mat-form-field>
  <button color="primary" mat-raised-button (click)="addBook()">
    Add Book
  </button>
</mat-card>
